{% extends "base.html" %}

{% block content %}

<br/>
<form name="frmchamado_terceiro" id="frmchamado_terceiro" method="POST" action="">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">Abertura de Chamado por Terceiros</div>
        <div class="panel-body">

        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>: {{ field.errors|striptags }}<br/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h3>Dados do chamado</h3>

        <input type="hidden" name="id" id="id" value="{{ form.id.value }}" />

        <div class="row">
            <div class="col-sm-12">
                <label for="abertura">Abertura</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group date">
                    <input id="abertura" name="abertura" class="form-control" value="{{ form.abertura.value|date:"d/m/Y" }}" data-date-format="dd/mm/yyyy" placeholder="Abertura do chamado" autofocus> 
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <label for="departamento">Departamento</label>
            </div>
            <div class="col-sm-6">
                <label for="departamento">Solicitante</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <select id="departamento" class="form-control" name="departamento">
                {% for item in form.departamento.field.choices %}
                    <option value="{{ item.0 }}"{% if form.departamento.value == item.0 %}selected="selected"{% endif %}>{{ item.1 }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <input type="text" id="solicitante" name="solicitante" class="form-control">{{ form.solicitante.value }}</input>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-6">
                <label for="ramal_atendimento">Ramal Atendimento</label>
            </div>
            <div class="col-sm-6">
                <label for="ramal_contato">Ramal Contato</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <select id="ramal_atendimento" class="form-control" name="ramal_atendimento" data-options="{editable: false}">
                {% for item in form.ramal_atendimento.field.choices %}
                    <option value="{{ item.0 }}"{% if form.ramal_atendimento.value == item.0 %}selected="selected"{% endif %}>{{ item.1 }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <select id="ramal_contato" class="form-control" name="ramal_contato" data-options="{editable: false}">
                {% for item in form.ramal_contato.field.choices %}
                    <option value="{{ item.0 }}"{% if form.ramal_contato.value == item.0 %}selected="selected"{% endif %}>{{ item.1 }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-12">
                <label for="problema">Problema</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <textarea id="problema" name="problema" class="form-control" rows="5">{{ form.problema.value }}</textarea>
            </div>
        </div>
    	<br/>

   		<a id="btnsalva" href="javascript:salva()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span> Abrir chamado
        </a>
    </div>
</form>

<script language="javascript">

    function salva() {
    	$("#frmchamado_terceiro").submit();
    }

    $( document ).ready(function() {
        $('.input-group.date').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            todayHighlight: true,
            clearBtn: true,
            autoclose: true,
        });
    });

</script>

{% endblock %}