<!DOCTYPE html>
<html>
<head lang="pt-BR">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}Chamados Telefonia{% endblock %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'telefonia/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'telefonia/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'telefonia/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'telefonia/css/bootstrap-datepicker.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'telefonia/css/datatables.min.css' %}">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<img src="{% static 'telefonia/imagem/brasao2.png' %}" height="40" style="margin-top:5px;margin-right:10px;"></img>
			</div>
			<div class="navbar-header">
          		<a class="navbar-brand" href="/telefonia/chamado_terceiro/">
          			Controle de Chamados Telefonia
          		</a>
        	</div>
      	</div>
    </nav>

    <script type="text/javascript" src="{% static 'telefonia/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'telefonia/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'telefonia/js/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'telefonia/js/bootstrap-datepicker.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'telefonia/js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'telefonia/js/bootstrap3-typeahead.min.js' %}"></script>
	
    <div class="container">
    	<div class="starter-template">
        	{% block content %}
			{% endblock %}
      	</div>
    </div>
	
</body>
</html>