binaryornot==0.4.0
chardet==2.3.0
click==5.1
cookiecutter==1.2.1
Django==1.8.1
django-ajax-selects==1.3.6
django-angular==0.7.15
django-auth-ldap==1.2.7
django-crispy-forms==1.5.2
django-debug-toolbar==1.4
django-easy-pdf==0.1.0
django-forms-bootstrap==3.0.1
django-model-utils==2.3.1
django-simple-menu==1.1.0
django-smart-selects==1.3.2
django-tastypie==0.12.2
future==0.15.2
Genshi==0.7
gunicorn==19.3.0
html5lib==0.9999999
Jinja2==2.8
MarkupSafe==0.23
Pillow==2.9.0
psycopg2==2.6.1
Pygments==2.0.2
PyPDF2==1.25.1
python-dateutil==2.4.2
python-mimeparse==0.1.4
reportlab==2.7
ruamel.base==1.0.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.10.12
selenium==2.50.0
simplejson==3.8.0
six==1.10.0
sqlparse==0.1.16
whichcraft==0.1.1
xhtml2pdf==0.0.6
