{% extends "easy_pdf/base.html" %}
{% load telefonia_extras %}

{% block content %}
    <div id="content">
        <table width="92%"><tr><td width="10%">
        <img src="{{''|brasao}}" width="60" ></img></td>
        <td><font size="6">Controle de Chamados Telefonia</font></td></tr></table>
        <h3>Relatório de Chamados - período de {{ data_inicio|date:"d/m/Y" }} a {{ data_fim|date:"d/m/Y" }}</h3>
        {% if chamados %}
        	<table border="1" cellpadding="4">
    			<thead>
        			<tr>
            			<th width="10%" align="right">Data chamado</th>
            			<th width="30%">Departamento</th>
            			<th width="10%">Ramal</th>
            			<th width="32%">Descrição</th>
            			<th width="10%" align="center">Status</th>
        			</tr>
    			</thead>
    			<tbody>
            	{% for item in chamados %}
                <tr>
                    <td>{{ item.abertura|date:"d/m/Y" }}</td>
                    <td>{{item.departamento.nome}}</td>
                    <td>{{item.ramal_atendimento }}</td>
                    <td>{{ item.problema }}</td>
                    <td>{{item.status.nome }}</td>
                </tr>
                {% if item.trocaequipamento_set.all %}
                	<tr><td colspan="5">
                	<table cellpadding="2">
                		<tr><td colspan="4"><b>Equipamentos trocados no chamado</b></td></tr>
                		<tr>
                			<td><b>Equipamento</b></td>
                			<td><b>Serial velho</b></td>
                			<td><b>Serial novo</b></td>
                			<td><b>Motivo troca</b></td>
                		</tr>
                		{% for troca in item.trocaequipamento_set.all %}
	                		<tr>
                				<td>{{ troca.tipo_equipamento.nome }}</td>
                				<td>{{ troca.serial_velho }}</td>
                				<td>{{ troca.serial_novo }}</td>
                				<td>{{ troca.motivo }}</td>
                			</tr>
                		{% endfor %}
            		</table>
            		</td></tr>
            	{% endif %}
            	{% endfor %}
            	<tbody>
           	</table>
        {% endif %}
    </div>
{% endblock %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}   
